{% extends "base.html" %}
{% load static %} 

{% block tytle %}ファイルダウンロード{% endblock %}
{% block content %}
{% csrf_token %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            CSVファイルが作成されました。 
            <br>こちらをクリックして ダウンロードしてください➡
            <a href="http://127.0.0.1:8000/media/room_export.csv"  class="alert-link">ダウンロード</a>
    </div> 
    <br>
    <a href="{% url 'room_export' %}">戻る</a>
    <br>
    <a href="{% url 'list' %}">プロジェクト一覧へ</a>
{% endblock %}





