{% extends "base.html" %}

{% block tytle %}床仕上一覧{% endblock %}
{% block content %}
<br>
<h2>床仕上一覧</h2> <br>
<a href="{% url 'top' %}">戻る</a>
<br>
<table class="table table-striped table-hover table-bordered ">
    <thead>
        <tr>
            <th>ID</th>
            <th>床仕上</th>
        </tr>
    </thead>
    {% for floor_finish in object_list %}
    <tr>
        {% comment %} <td><input  type="radio" name="project">  {% endcomment %}
        <td>{{ floor_finish.id }}</td>
        <td>{{ floor_finish.name }}</td>
    </tr>
    {% endfor %}
</table>

<br>
{# ページの表示 #}
{{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ<br>

{# 前へ #}
{% if page_obj.has_previous %}
<a href="?page=1">&laquo; 先頭</a>
<a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

{# 次へ #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">次へ</a>
<a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
{% endif %}
{% endblock %}
