{% extends "base.html" %}
{% load widget_tweaks %} 

{% block tytle %}部屋一覧{% endblock %}
{% block content %}
<h2>部屋一覧</h2>
<a href="{% url 'list' %}">プロジェクト一覧へ</a><br>

<a href="http://127.0.0.1:8000/modelform/">ファイルアップロード</a><br><br>

<form class="form-group">
     {{ filter.form.project_info.label }} {{ filter.form.project_info|add_class:"form-control" }} <br>  <!--プロジェクト名でフィルタする-->
     {{ filter.form.level.label }} {{ filter.form.level|add_class:"form-control" }}<br>                 <!--レベルでフィルタする--> 
        <input type="submit" value='フィルタ'/><br><br>
</form><br>
<article>
    <table id ='default-table' class="table table-striped table-hover table-bordered" tableexport-key="default-table">
        <caption class="tableexport-caption" style="caption-side: bottom;">
        </caption>

        <thead>
            <tr>
                <td>ID</td>
                <td>プロジェクトID</td>
                <th>IfcGUID</th>
                <th>レベル</th>
                <th>No</th>
                <th>部屋名</th>
                <th>壁仕上</th>
                <th>天井仕上</th>
                <th>床仕上</th>

            </tr>
        </thead>
        <tbodt>
        {% for obj in filter.qs %}
            <tr>
                <td>{{ obj.id}}</td>
                <td>{{ obj.project_info}}</td>
                <td>{{ obj.IfcGUID }}</td>
                <td>{{ obj.level }}</td>
                <td>{{ obj.No }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.wall_finish }}</td>
                <td>{{ obj.ceiling_finish }}</td>
                <td>{{ obj.floor_finish }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>


<!--jQuery HTMLのテーブルをエクスポートする-->
<script src="/static/js/xlsx.core.min.js?0818"></script>
{% comment %} <script src="/static/js/Blob.js?0818"></script> {% endcomment %}
<script src="/static/js/FileSaver.min.js"></script>
<script src="/static/js/tableexport.min.js"></script>
<script>
var DefaultTable = document.getElementById('default-table');
new TableExport(DefaultTable, {
        headers: true,                              // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
        footers: true,                              // (Boolean), display table footers (th or td elements) in the <tfoot>, (default: false)
        formats: ['xlsx', 'csv', 'txt'],            // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
        filename: 'id',                             // (id, String), filename for the downloaded file, (default: 'id')
        bootstrap: false,                           // (Boolean), style buttons using bootstrap, (default: false)
        position: 'bottom',                         // (top, bottom), position of the caption element relative to table, (default: 'bottom')
        ignoreRows: null,                           // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
        ignoreCols: null,                           // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
        ignoreCSS: '.tableexport-ignore',           // (selector, selector[]), selector(s) to exclude cells from the exported file(s) (default: '.tableexport-ignore')
        emptyCSS: '.tableexport-empty',             // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file(s) (default: '.tableexport-empty')
        trimWhitespace: true,                       // (Boolean), remove all leading/trailing newlines, spaces, and tabs from cell text in the exported file(s) (default: true)
        RTL: false,                                 // (Boolean), set direction of the worksheet to right-to-left (default: false)
        sheetname: 'room'                             // (id, String), sheet name for the exported spreadsheet, (default: 'id')
    });

    


</script>


<a id="back-btn" href="#">ページ先頭へ</a>
{% endblock %}

