{% extends "base.html" %}
{% load widget_tweaks %} 

{% block tytle %}部屋一覧{% endblock %}
{% block content %}
<h2>部屋一覧</h2>
<a href="{% url 'list' %}">プロジェクト一覧へ</a><br>

<a href="http://127.0.0.1:8000/modelform/">CSVファイルアップロード</a><br>
<a href="http://127.0.0.1:8000/export/">CSVファイルダウンロード</a><br>
<a href="http://127.0.0.1:8000/download/">編集画面</a><br>

<form class="form-group">
     {{ filter.form.project_info.label }} {{ filter.form.project_info|add_class:"form-control" }} <br>
     {{ filter.form.level.label }} {{ filter.form.level|add_class:"form-control" }}<br> 
        <input type="submit" value='フィルタ'/>
</form><br>

<script type="text/javascript">
// プルダウンでselectされた値を取得する
    var select1 = document.querySelector('select[name=project_info]');
    var select2 = document.querySelector('select[name=level]');

    var a_options = select1.options;
    var b_options = select2.options;

    for (var i = 0; i < a_options.length; i++) {
        if (a_options[i].selected) 
        console.log(a_options[i].value); 
    }

    for (var i = 0; i < b_options.length; i++) {
        if (b_options[i].selected) 
        console.log(b_options[i].value); 
    }


</script>

    <table id ='filtered_table' class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>プロジェクトID</td>
                <th>ifcGUID</th>
                <th>レベル</th>
                <th>No</th>
                <th>部屋名</th>
                <th>壁仕上</th>
                <th>天井仕上</th>
                <th>床仕上</th>
                <th>アクション</th>

            </tr>
        </thead>
        
        {% for obj in filter.qs %}
            <tr>
                <td>{{ obj.id}}</td>
                <td>{{ obj.project_info}}</td>
                <td>{{ obj.IfcGUID }}</td>
                <td>{{ obj.level }}</td>
                <td>{{ obj.No }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.wall_finish }}</td>
                <td>{{ obj.ceiling_finish }}</td>
                <td>{{ obj.floor_finish }}</td>
                <td>
                    <button class="btn btn-primary" onclick="location.href='{% url 'edit' pk=obj.pk %}'">編集</button>
                </td>

            </tr>
        {% endfor %}
    </table>


    <a id="back-btn" href="#">TOPに戻る</a>

{% endblock %}

