{% extends "base.html" %}
{% load static %} 

{% block tytle %}CSVダウンロード{% endblock %}
{% block content %}
<h3>CSVダウンロード</h3>

<form action='' method='GET' enctype="multipart/form-data">
     {{ filter.form.project_info.label }} {{ filter.form.project_info|add_class:"form-control" }} <br>
     {{ filter.form.level.label }} {{ filter.form.level|add_class:"form-control" }}<br> 
       <button id="download" type="button">Download CSV</button>

    <div class="btn-group">
        <input type="submit" class="btn btn-success" value="CSV生成" data-bs-toggle="tooltip" data-bs-placement="right" title="CSVファイルを生成します">
    </div>
</form>
<a href="{% url 'file_export' %}">ファイル確認</a>
<br>

<a href="{% url 'product_list' %}">戻る</a>
<br>
<a href="{% url 'list' %}">プロジェクト一覧へ</a>
{% endblock %}





